.header{
    font-size: 16px;
    &__container {
        min-height: 156px;
        font-size: 16px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        min-height: 100px;
    }

    &__topleft {
        width: 37%;
        display: flex;  
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: block;
        width: 204px;
        height: 63px;
        background-image: url('./images/logo.png');
        background-repeat: no-repeat;
    }

    &__sitywrap {
        padding-left: 21px;
        background-image: url('./images/marker.png');
        background-repeat: no-repeat;
        background-position: 0px 4px;
    }

    &__sity {
        border-bottom: 1px dashed  #4caf50;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        color: #4caf50;
    }

    &__topright {
        display: flex;
        align-items: center;
        max-width: 38%;
        width: 100%;
    }

    &__itemtel{
        margin-right: 3%;
    }

    &__tel {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        color: #000;
    }

    &__itemwhatsapp{
        margin-right: 1%;
    }

    &__whatsapp {
        display: block;
        width: 20px;
        height: 20px;
    }

    &__itemtelegram {
        margin-left: 1%;
    }

    &__telegram {
        display: block;
        width: 20px;
        height: 20px;
    }

    &__itemcall{
        width: 177px;
        height: 40px;
        margin-left: auto;
        padding: 9px 3px 2px 4px;
        background: linear-gradient(270deg, #4caf50 0%, #8ec543 100%);
        border-radius: 10px;
    }

    &__call{
        padding-left: 29px;
        border-radius: 10px;        
        background: transparent;
        background-image: url("./images/headertel.png");
        background-repeat: no-repeat;
        background-position: 4px 1px;
        font-family: var(--font-family);
        font-weight: 800;
        font-size: 13px;
        line-height: 185%;
        text-align: center;
        color: #fff;
        cursor: pointer;
    }







    &__nav{
        padding-top: 8px;
        min-height: 56px;
    }

    &__navlist{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__navitem {
        position: relative;
    }

    &__navlink{
        display: block;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 133%;
        color: #000;
    }

   

    &__navlinkabout{
        display: block;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 133%;
        color: #000;
        // position: absolute;
        // outline: 1px solid #333;
        // height: 40px;
        background: transparent;
        border: none;
        cursor: pointer;
    }


    .menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        overflow: hidden;
        position: absolute;
         top: -500px; 
        // top: 56px; 
        left: -10px;
        max-width: 240px;
        min-height: 210px;
        z-index: 1000;
        background: transparent;
         visibility: hidden; 
        // padding: 30px 5px 5px 26px;
         opacity: 0; 
        transition: opacity .2s ease-in-out;
        outline: none;
        // outline: 1px solid #333;
        width: 240px;
        min-height: 172px;
        background-color: #fff;
        padding: 30px 5px 5px 26px;
        border-radius: 12px;
        -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    }

    // .menu__list{
    //     width: 240px;
    //     min-height: 172px;
    //     background-color: #fff;
    //     padding: 30px 5px 5px 26px;
    //     border-radius: 12px;

    // }

    .menu__item{
        margin-bottom: 20px;
    }

    .menu__link{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 133%;
        color: #000;
    }



    .menu__active, .dropdown__active {
        visibility: visible;
        opacity: 1;
        top: 56px;
    }

    // &__navlinkabout:hover + .menu{
    //     visibility: visible;
    //     opacity: 1;
    //     top: 18px;
    // }
}


@media (max-width: 1230px) {
    .header{

        &__topleft {
            width: 45%;
        }

        &__topright{
            max-width: 50%;
        }

    }
}

@media (max-width: 910px) {

    .burger--active .header__burgerline:nth-child(2) {
        opacity: 0;
    }

    .burger--active .header__burgerline:first-child {
        left: -4px;
        top: 50%;
        transform: rotate(45deg);
        transform-origin: center;
        transition: transform .3s ease-in-out, top .3s ease-in-out, left .3s ease-in-out;
    }

    .burger--active .header__burgerline:last-child {
        bottom: auto;
        left: -4px;
        top: 50%;
        transform: rotate(-45deg);
        transform-origin: center;
        transition: transform .3s ease-in-out, top .3s ease-in-out, left .3s ease-in-out;
    }

    .header{

        padding-top: 10px;

        &__container{
            min-height: 170px;
        }

        &__top {
            flex-direction: column;
        }

        &__topleft {
            width: 100%;
            margin-bottom: 20px;
        }

        &__topright{
            flex-wrap: wrap;
            max-width: 100%;
            margin-bottom: 10px;
        }

      
        &__nav{
            overflow: hidden;
            position: absolute;
            left: -50px;
            top: 0;
            width: 45%;
            min-width: 250px;
            height: 100vh;
            z-index: 1000;
            padding: 50px;
            padding-top: 75px;
            box-shadow: 0 0 5px #888;
            background-color: #fff;
            overflow-y: auto;
            visibility: hidden;
            transform: translateX(-120%);
            transition: visibility .4s ease-in-out, transform .4s linear;
                          
        }

        &__navlist{
            padding-left: 50px;
            flex-direction: column;
            align-items: start;
            padding-bottom: 45px;
        }

        &__navitem:not(:last-child){
            margin-right: 0;
            margin-bottom: 40px;
        }


        &__burger {
            position: relative;
            margin-right: 38.4%;
            display: block;
            width: 30px;
            height: 23px;
            border-radius: 3px;
            color: #333;
            background: inherit;
            padding-bottom: 20px;
          }

          &__burgerline {
            position: absolute;
            left: 50%;
            width: 30px;
            height: 3px;
            border-radius: inherit;
            background-color: currentColor;
            transform: translateX(-50%);
          }

          &__burgerline:nth-child(1) {
            top: 0;
          }
        
          &__burgerline:nth-child(3) {
            bottom: 0;
          }
        
          &__burgerline:nth-child(2) {
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
          }


        &__tel{
            display: block;
            width: 180px;
        }

        &__itemcall {
            width: 180px;
        } 
                
        &__call{
            display: block;
        }

        .menu{
            max-width: 140px;
            padding-left: 5px;
            outline: 1px solid #333;
        }

        .menu__link {
            font-size: 14px;
        }

    }

    .hader__nav--active {
        visibility: visible;
        transform: none;
    }

    .burger--active {
        position: relative;
        z-index: 1000000;
        width: 23px;
        top: -120px;
        right: -31%;
    } 
}

@media (max-width: 630px) {
    .burger--active {
        right: -27%;
    } 
}


@media (max-width: 570px) {
    .header{        
        &__logo{
            width: 142px;
            height: 41px;
            background-size: cover;
        }

        &__sity{
            font-size: 14px;
        }

        &__itemtel{
            margin-bottom: 5px;
        }

        &__tel{
            font-size: 14px;
        }

        &__itemwhatsapp{
            margin-left: auto;
            margin-right: 25px;
        }

        &__itemtelegram{
            margin-right: 15px;
        }

        &__call{
            font-size: 10px;
        }

        &__itemcall {
            width: 154px;
            height: 34px;
            margin-left: 0;
        }

        &__navlink{
            font-size: 14px;
        }

        &__navlinkabout{
            font-size: 14px;
        }
    }

    .burger--active {
        top: -95px;
        right: -27%;
    } 
}        

@media (max-width: 461px) {
    .burger--active {
        top: -115px;
        right: -34%;
    } 
}

@media (max-width: 320px) {
    .header{
        padding-top: 15px;
        &__logo {
            display: block;
            width: 30px;
            height: 30px;
            background-image: url('./images/logotitle.png');
        }    
    }
} 