.productitem{
    padding-top: 30px;
    padding-bottom: 46px;

    &__title {
        margin-bottom: 27px;
    }

    &__prodwrapper{
        border-radius: 12px;
        background-color: #fff;
        padding: 76px 40px 25px 77px;
        margin-bottom: 15px;
        margin-bottom: 42px;
    }

    &__cardtop{
        display: flex;
        margin-bottom: 51px;
    }
   

    &__cardtopleft {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        max-width: 433px;
        margin-right: 5px;
        width: 100%;
        min-height: 468px;    
    }

    &__cardtopleftimg{
        width: 100%;
        height: 100%;
        background-image: url('./images/2bigcardtopleftimg.png');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        margin-bottom: 5px;
    }

    &__cardtopleftlist{
        display: flex;
        justify-content: space-between;
    }

    &__swiper{
        max-height: 102px;
        width: 100%;
        overflow: hidden;
    }

    .swiper-slide{
        min-height: 50px;
    }
   
    &__cardtopleftitem{
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 12px;
        width: 102px;
        height: 102px;
        background-image: url('./images/cardtopleftimg.png');
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
    }

    .cardtopleftitemimg1{
        background-image: url('./images/cardtopleftimg1.png');
    }

    .cardtopleftitemimg2{
        background-image: url('./images/cardtopleftimg2.png');
    }

    .cardtopleftitemimg3{
        background-image: url('./images/cardtopleftimg3.png');
    }

    .cardtopleftitemimg4{
        background-image: url('./images/cardtopleftimg4.png');
    }

    &__cardtopleftitem--active{
        border: 1px solid  #4caf50;
    }
    
   

    &__cardtopright{
        width: 100%;
        padding: 0 5px 0 70px;
        min-height: 50px;
    }

    &__name{
        width: 88%;
        margin-bottom: 35px;
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 24px;
        color: #000;
        line-height: 137%;
    }
   
    &__deliveryinfolist{
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    &__deliveryinfoitem{
        width: 31.3%;
        padding: 0 2px 0 33px;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 14px;
        color: #000;
        line-height: 145%;
        background-repeat: no-repeat;
        background-position: 2px 50%;
    }

    &__deliveryinfoitemimg1{
        background-image: url('./images/deliveryinfoitemimg1.png');
    }

    &__deliveryinfoitemimg2{
        background-image: url('./images/deliveryinfoitemimg2.png');
    }

    &__deliveryinfoitemimg3{
        background-image: url('./images/deliveryinfoitemimg3.png');
    }

    &__costwrap{
        display: flex;
        max-width: 442px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 42px;
    }

    &__cost{
        display: block;       
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 32px;
        color: #000;
    }

    &__costbtnorder{
        display: block;
        border-radius: 12px;
        padding: 14px 23px;
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        color: #fff;
        background: #4caf50;
        cursor: pointer;
    }

    &__menulist{
        display: flex;
        margin-bottom: 30px;
    }

    &__menuitem:not(:last-child){
        margin-right: 7.1%;
    }

    &__menulink{
        background: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #9f9f9f;
        padding-bottom: 3px;
    }

    &__menulink--active{
        border-bottom: 2px solid #4caf50;
        color: #000;
    }

    &__characteristics{
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 20px;
        color: #000;
        margin-bottom: 18px;
    }

    &__characteristicslist{
        padding: 0 33px 0 0;
    }

    &__characteristicsitem{
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        padding: 11px 24px;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        color: #000;
    }

    &__characteristicsitem:nth-child(odd){
        background: rgba(76, 175, 80, 0.05);
    }

    &__characteristicsitem span{
        display: inline-block;
    }

    &__prodname{
        margin-bottom: 15px;
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 20px;
        color: #000;
    }

    &__tabwrapper{
        display: none;
        min-height: 269px;
    }

    &__reviewsname{
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 20px;
        color: #000;
    }

    &__reviewswork{
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        color: #000;
        margin-bottom: 25px;
    }

    &__tabwrapper--active{
        display: block;
    }

    &__prodtext{
        max-width: 95%;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        color: #000;
        line-height: 137%;
        margin-bottom: 20px;
    }

    &__prodtextdoc{
        margin-bottom: 32px;
    }

    &__prodtextreview{
        margin-bottom: 30px;
    }

    &__propertieslist{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-right: 80px;
        margin-bottom: 38px;
    }

    &__propertiesitem{
        min-height: 24px;
        max-width: 392px;
        padding-left: 43px;
        padding-top: 4px;
        width: 50%;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 137%;
        color: #000;
        margin-bottom: 15px;
        background-image: url('./images/propertiesitemimg.png');
        background-repeat: no-repeat;
        background-position: 0 50%;
    }

    &__filelist{
        display: flex;
        flex-wrap: wrap;
    }

    &__fileitem{
        margin-right: 23px;
        margin-bottom: 5px;
    }

    &__filelink{
        display: flex;
        align-items: center;
        padding-left: 41px;
        padding-right: 5px;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 14px;
        color: #000;
        min-height: 30px;
        background-image: url('./images/filelinkimg.png');
        background-repeat: no-repeat;
        background-position: left center;
    }

    &__cardbottom{
        display: flex;
        justify-content: space-between;
        padding-right: 25px;
    }

    &__carddelivery{
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 20px;
        color: #000;
        margin-bottom: 19px;
    }

    &__cardbottomleftitem{
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        color: #000;
        padding-left: 44px;
        margin-bottom: 24px;
        background-repeat: no-repeat;
    }
    
    &__cardbottomleftitemimg1{
        background-image: url('./images/cardbottomleftitemimg1.png');
    }

    &__cardbottomleftitemimg2{
        background-image: url('./images/deliveryinfoitemimg2.png');
    }

    &__cardbottomleftitemimg3{
        background-image: url('./images/deliveryinfoitemimg3.png');
    }

    &__cardbottomrightitem{
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        color: #000;
        margin-bottom: 24px;
        padding-left: 44px;
        background-repeat: no-repeat;
    }

    &__cardbottomrightitemimg1{
        background-image: url('./images/cardbottomrightitemimg1.png');
    }

    &__cardbottomrightitemimg2{
        background-image: url('./images/cardbottomrightitemimg2.png');
    }




    &__cardpay{
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 20px;
        color: #000;
        margin-bottom: 19px;
    }


    &__interest{
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 32px;
        color: #000;
        margin-bottom: 20px;
    }

    &__consultationwrap{
        min-height: 245px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__consultationlist{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 0 80px 0 326px;
        border-radius: 12px;
        width: 1200px;
        min-height: 189px;
        background: #fff;
    }

    &__consultationitemimg{
        position: absolute;
        bottom: 0;
        left: 73px;
        z-index: 100;
        min-height: 225px;
        width: 225px;
        background-image: url('./images/consultationitemimg.png');
        background-repeat: no-repeat;
    }

    &__consultationtitle{
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 32px;
        color: #000;
    }

    &__consultationtext{
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 20px;
        color: #000;
    }

    &__itemcall{
        margin-left: auto;
        padding: 11px 20px;
        background: linear-gradient(270deg, #4caf50 0%, #8ec543 100%);
        border-radius: 10px;
    }

    &__call{
        padding-left: 29px;
        border-radius: 10px;        
        background: transparent;
        background-image: url("./images/headertel.png");
        background-repeat: no-repeat;
        background-position: 1px 1px;
        font-family: var(--font-family);
        font-weight: 800;
        font-size: 13px;
        line-height: 185%;
        text-align: center;
        color: #fff;
        cursor: pointer;
    }

}


@media (max-width: 1230px){
    .productitem{

        &__prodwrapper {
            padding: 76px 15px 25px 30px;
        }
        &__cardtop{
            flex-wrap: wrap;
            justify-content: center;
        }

        &__cardtopleft{
            margin-bottom: 25px;
        }

        &__costwrap{
            max-width: 96%;
        }

        &__menulist{
            flex-wrap: wrap;
        }

        &__menuitem {
            margin-bottom: 15px;
        }


        &__consultationlist{
            max-width: 1200px;
            width: 100%;
            padding: 0 20px 0 326px
        }

        &__propertieslist {
            padding-right: 0;
        }

        &__propertiesitem{
            padding-right: 10px;
           }
    }
}


@media (max-width: 910px){
    .productitem{

       &__cardtopright{
        padding: 0;
       }

       &__consultationtitle{
        font-size: 20px;
        margin-bottom: 15px;
        text-align: center;
       }

       &__consultationtext {
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 14px;
        text-align: center;
       }
       
       &__consultationlist {
        max-width: 1200px;
        width: 100%;
        min-height: 140px;
        padding: 0 20px 0 20px;
       }

       &__consultationitemimg{
        position: static;
        min-height: 100px;
        height: 100%;
        background-size: contain;
       }
    }
}

@media (max-width: 570px){
    .productitem{

        &__prodwrapper{
            padding: 5px 7px;
            padding-bottom: 15px;
        }

        &__cardtopleft{
            max-width: 100%;
            min-height: 320px;
            background-size: 50%;
            background-position: center 0;
        }

        &__cardtopleftitem {
            width: 85px;
            height: 85px;
        }

        &__swiper {
            max-height: 85px;
        }
            
        &__name{
            font-size: 16px;
        }

        &__cost{
            font-size: 24px;
        }

        &__costbtnorder {
            font-size: 14px;
        }

        &__characteristics {
            font-size: 16px;
        }

        &__characteristicslist {
            padding: 0;
        }

        &__characteristicsitem {
            padding: 11px 5px;
            font-size: 12px;
        }

        &__characteristicsitem span{
            margin-right: 3px;
        }

        &__deliveryinfolist{
            flex-direction: column;
        }

        &__deliveryinfoitem {
            width: 100%;
            font-size: 12px;
            margin-bottom: 10px;
        }

        &__propertieslist{
            flex-direction: column;
        }

        &__propertiesitem{
            width: 100%;
        }

        &__consultationlist{
            flex-direction: column;
        }

        &__consultationlist{
            padding-bottom: 15px;
        }

        &__consultationitem{
            margin-bottom: 15px;
        }

        &__consultationitemimg {
            background-position: center center;
        }

        &__itemcall{
            margin-left: 0;
        }

        
    }
}

@media (max-width: 450px){
    .productitem{
       

        &__cardtopleft{
            min-height: 255px;
        }

        &__cardtopleftitem {
            width: 66px;
            height: 70px;
        }

        &__swiper {
            max-height: 70px;
        }

       &__cost {
             font-size: 16px;
        }

        &__prodtext {
            font-size: 14px;
        }

        &__propertiesitem{
            font-size: 12px;
        }

    }
}